.pageContainer {
  @apply bg-cover bg-center min-h-screen flex items-center justify-center overflow-hidden;
  background-image: url('/assets/backgroundSite.jpg');
}

.contentWrapper {
  @apply bg-black bg-opacity-80 p-8 rounded-lg overflow-y-auto;
  max-width: 75%;
  width: 100%;
  min-height: 110vh;
  height: auto;
  margin: 0 15%; 
  
}

.characters {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4 justify-center;
  margin-left: 3%;
}

.character {
  @apply m-2 cursor-pointer flex flex-col items-center;
  width: 250px; 
}

.characterImage {
  @apply w-44 h-40 rounded-lg transition-transform duration-300 ease-in-out; 
  border: 1px;
  border: 1px solid #FED700 !important;
  border-radius: 8px;
}

.characterImage:hover {
  @apply transform scale-110;
}

.characterName {
  @apply text-white text-center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 7%;
}

.pagination {
  @apply flex justify-center mt-8;
}

.pagination button {
  @apply bg-yellow-200 mx-1 px-3 py-1 rounded border text-black;
  border: 1px solid #FED700 !important;
  padding: 0px 10px 0px 10px !important;
  margin: 10px;
  border-radius: 20px !important;
}

.pagination button.active {
  @apply bg-red-500 text-white;
  border: 1px solid #dc2626 !important;
  border-radius: 8px !important;
}
