.header {
    @apply flex items-center justify-between;
  }
  
  .logo {
    @apply h-48; 
    padding-left: 5%;
    height: 200px;
    width: auto;
  }
  
  .backButton {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 5%;
  }
  
  .backButton:hover {
    background-color:#f6e16b;
  }
  